<div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>
  <!--ここからNew book-->
  <h2 class="m-3">New book</h2>
  <div class= "new_book">
    <%= form_with model: book do |f| %>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <p for="book_title">Title</p>
            <%= f.text_field :title, class: "form-control"; %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class= "form-group">
            <p for="book_body">Opinion</p>
            <%= f.text_area :body, class: "form-control"; %>
          </div>
        </div>
      </div>
      <div class= "form-group">
        <%= f.submit 'Create Book', class: "btn btn-success"; %>
      </div>
    <% end %>
  </div>
</div>