<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'info', book: @new_book, user: @user %><!--部分テンプレート貼る-->
   <!--book詳細-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(80,80) %><br>
              <%= link_to user_path(@user.id) do %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
                <% if current_user.already_favorited?(@book)%>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fa-solid fa-heart", style="color: red;"></i>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fa-regular fa-heart" ></i>
                  <% end %>
                <% end %>
                <%= @book.favorites.count %>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to edit_book_path(@book), class: "btn btn-success btn-sm" do %>
                  Edit
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger btn-sm" do %>
                  Destroy
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  <!--ここまでbook詳細-->  
  </div>
</div>